basePath: /api/v1
definitions:
  models.Alumni:
    properties:
      alamat:
        type: string
      angkatan:
        type: integer
      created_at:
        type: string
      email:
        type: string
      id:
        type: integer
      jurusan:
        type: string
      nama:
        type: string
      nim:
        type: string
      no_telepon:
        type: string
      tahun_lulus:
        type: integer
      updated_at:
        type: string
    type: object
  models.ErrorResponse:
    properties:
      message:
        type: string
      status:
        type: boolean
    type: object
host: localhost:3000
info:
  contact: {}
  description: API untuk mengelola data user dengan MongoDB menggunakan Clean Architecture
  title: User API
  version: "1.0"
paths:
  /alumni:
    get:
      consumes:
      - application/json
      description: Mengambil daftar semua alumni dari database
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Alumni'
            type: array
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Dapatkan semua alumni
      tags:
      - Alumni
schemes:
- http
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
